/*  --------------------------------------------------
                MUCHISX'S CSS RESET
--------------------------------------------------- */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 6.25%;
}

body {
    font-size: 16rem;;
    font-family: "Inter";
}

/*  --------------------------------------------------
                MAIN CSS BELOW
--------------------------------------------------- */



/*=============================================
-->                  ROOT                  <--
=============================================*/

:root {

    --primary-color: rgb(236, 236, 236);
    --secondary-color: rgb(32, 32, 32);
    --tertiary-color: rgb(190, 190, 190);

    --glass-border: 1px solid rgba(255, 255, 255, 0.12);
    --glass-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.36);

    --app-height: 100%;
}


html, 
body {
    height: 100vh;
    height: var(--app-height);
    min-width: 320px;
}

body {
    background-color: rgb(32, 32, 32);
    position: relative;
}

/*=============================================
-->         Base - Utility Classes          <--
=============================================*/

.glass-effect {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 16px;
    border-top: var(--glass-border);
    border-left: var(--glass-border);
    border-bottom: none;
    border-right: none;
    box-shadow: var(--glass-box-shadow);
}

/*=============================================
-->              Form Search               <--
=============================================*/

.form-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    
    position: absolute;
    max-width: 480px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 40px;
    z-index: 1;
}

    .form-search__title {
        opacity: 0.7;
        user-select: none;
        font-size: 20rem;
        font-weight: bold;
        color: var(--tertiary-color);

        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.52);
    }

    .form-search__results {
        display: flex;
        flex-wrap: wrap-reverse;
        align-content: flex-start;
        
        gap: 8px;

        min-height: 190px;
        
    }

        .form-search-result {
            all: unset;

            flex-grow: 1;
            text-align: center;
            height: fit-content;
            
            position: relative;
            padding: 8px 12px;
            font-size: 16rem;
            color: var(--tertiary-color);
            cursor: pointer;
            user-select: none;

            /* Glass Effect */
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            border-radius: 16px;
            border-top: var(--glass-border);
            border-left: var(--glass-border);
            box-shadow: var(--glass-box-shadow);
        }

        .--result-start-search {
            padding: 0 2px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .--result-start-search::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('../assets/svg/chevrons-right.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 64px;
        }

        .form-search-result:hover {
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.123), rgba(255, 255, 255, 0));
        }

        .form-search__input {
            all: unset;
            text-align: center;

            padding: 20px;
            
            color: var(--tertiary-color);
        }

        .form-search__navigation {
            display: flex;
            width: 100%;
            gap: 8px;
            align-items: center;
            justify-content: space-between; 
        }

            .form-search__navigation-back,
            .form-search__navigation-close {
                flex-shrink: 0;
                position: relative;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.36);
                cursor: pointer;
            }

            .form-search__navigation-back::before,
            .form-search__navigation-close::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-repeat: no-repeat;
                background-position-y: 58%;
                background-position-x: 48%;
                background-size: 16px;
            }

            .form-search__navigation-back::before {
                background-image: url('../assets/svg/chevron-down-outline.svg');
                background-position-y: 58%;
                background-position-x: 48%;
                transform: rotate(90deg);
            }

            .form-search__navigation-info {
                height: 34px;
                padding: 8px 12px;
                
                font-size: 16rem;
                line-height: 16px;
                color: var(--tertiary-color);
                text-align: center;

                opacity: 0.44;
                pointer-events: none;
                user-select: none;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .form-search__navigation-close::before {
                background-image: url('../assets/svg/x.svg');
                background-position-y: 52%;
                background-position-x: 46%;
            }


/*=============================================
-->                  MAIN                  <--
=============================================*/

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    overflow: hidden;


    position: relative;
    min-width: 320px;
    min-height: 100%;
}

.main-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.95;
    background-image: url('../assets/img/bg-1.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

    /*
    -->              Weather CARDS            <--
    =============================================
    */

    .weather-cards-container {
        display: flex;
        position: relative;
    }

        .weather-card-container {
            position: relative;
            overflow: hidden;
            border-radius: 16px;
            margin-bottom: 12px;

            /* Glass Effect */
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            border-radius: 16px;
            border-top: var(--glass-border);
            border-left: var(--glass-border);
            box-shadow: var(--glass-box-shadow);
        }

            .weather-card__intro {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 12px;

                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                pointer-events: none;
                user-select: none;
            }

                .weather-card__intro-visual {
                    width: clamp(64px, 20vw, 100px);
                    height: clamp(64px, 20vw, 100px);
                    opacity: 0;
                }

                .weather-card__intro-title {
                    font-size: clamp(20rem, 6vw, 32rem);
                    font-weight: 700;
                    color: var(--primary-color);
                    opacity: 0;
                }
                

            .weather-card {
                display: flex;
                flex-direction: column;
                align-items: center;

                padding: 16px;
                min-width: 256px;
                min-height: 320px;
                width: 80vw;
                height: calc(80vw / 4 * 5);
                max-width: 400px;
                max-height: 500px;
                overflow: hidden;
            }

                .weather-card__header {
                    display: grid;
                    justify-items: center;
                }

                    .weather-card__header-visual {
                        width: clamp(64px, 20vw, 100px);
                        height: clamp(64px, 20vw, 100px);
                        margin-bottom: 8px;
                    }

                    .weather-card__header-h2 {
                        font-size: clamp(16rem, 5vw, 24rem);
                        font-weight: 200;
                        text-align: center;
                        color: var(--primary-color);
                    }


                .weather-card__body {
                    display: grid;
                    justify-items: center;
                    margin: auto 0;
                }

                    .weather-card__body-degrees {
                        position: relative;
                        width: fit-content;
                        text-align: center;
                        font-weight: 300;
                        font-size: clamp(80rem, 24vw, 120rem);
                        color: var(--primary-color);
                        margin-bottom: 8px;
                    }

                        .weather-card__body-degrees sup {
                            position: absolute;
                            top: 0.2em;
                            left: -0.4em;
                            font-weight: 100;
                            font-size: 0.4em;
                        }


                    .weather-card__body-h2 {
                        height: fit-content;
                        text-align: center;
                        margin-bottom: 4px;  
                        font-size: clamp(16rem, 5vw, 24rem);
                        font-weight: 400;
                        color: var(--primary-color);
                    }

                    .weather-card__body-h3 {
                        font-size: clamp(12rem, 3vw, 14rem);
                        text-align: center;
                        font-weight: 200;
                        color: var(--tertiary-color);
                    }


                .weather-card__footer {
                    margin-top: auto;
                    display: grid;
                    justify-content: center;
                }

                    .weather-card__footer-info {
                        font-weight: 200;
                        font-size: clamp(12rem, 3vw, 14rem);
                        color: var(--tertiary-color);
                    }

                        .weather-card__footer a {
                            position: relative;
                            text-decoration: none;
                            font-weight: 400;

                            /* Gradient Effect */
                            background: linear-gradient(135deg, #bae0ff 30%, #ffd000 80%);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            border-width: 0 0 1px 0;
                            border-style: solid;
                            border-image: linear-gradient(135deg, #bae0ff8a 30%, #ffd00071 80%) 1;
                        }


    /*
    -->              Form Weather             <--
    =============================================
    */

    .form-weather {
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px; */

        display: grid;
        place-items: center;

        grid-template-areas: 
        'A B C'
        'D E F';
        gap: 8px;
        
        height: 76px;
        transition: opacity 0.5s ease;
    }   

        .form-weather__search-GPS::before,
        .form-weather__search-refresh::before,
        .form-weather__search-random::before,
        .form-weather__github-link::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: center;
        }
        
        .form-weather__search-GPS::before {
            background-image: url('../assets/svg/map-pin.svg');
        }

        .form-weather__search-refresh::before {
            background-image: url('../assets/svg/rotate-ccw.svg');
        }

        .form-weather__search-random::before {
            background-image: url('../assets/svg/shuffle.svg');
        }

        .form-weather__github-link::before {
            background-image: url('../assets/svg/github.svg');
        }

        .form-weather__search-GPS,
        .form-weather__search-refresh,
        .form-weather__search-random,
        .form-weather__github-link {
            position: relative;
            width: 40px;
            height: 100%;
            cursor: pointer;
            transition: opacity 0.5s ease;
        }
        

        .form-weather__search-GPS {
            grid-area: A / A / A / A;
        }

        .form-weather__search-refresh {
            grid-area: C / C / C / C;
        }


        .form-weather__search-country-button,
        .form-weather__search-city-button {
            position: relative;
            padding: 8px 32px;
            width: 160px;
            height: 34px;
            border: none;
            overflow: hidden;

            color: var(--tertiary-color);
            font-size: 14rem;
            font-family: "Inter";
            text-overflow: ellipsis;
            text-align: center;
            white-space: nowrap;

            cursor: pointer;
            appearance: none;

            /* Glass Effect */
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            border-radius: 16px;
            border-top: var(--glass-border);
            border-left: var(--glass-border);
            box-shadow: var(--glass-box-shadow);
            transition: width 0.5s ease;
            transition: opacity 0.5s ease;
        }

        .form-weather__search-country-button {
            grid-area: B / B / B / B;
        }

        .form-weather__search-city-button {
            grid-area: E / E / E / E;
        }

        .--search-location-state {
            width: 120px;
            padding: 8px 0px 8px 20px;
        }

        .--search-location-state::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url('../assets/svg/search.svg');
            background-repeat: no-repeat;
            background-size: 16px;
            background-position-y: center;
            background-position-x: 16%;
        }

        .form-weather__search-GPS:hover,
        .form-weather__search-country-button:hover,
        .form-weather__search-refresh:hover,
        .form-weather__search-random:hover,
        .form-weather__search-city-button:hover,
        .form-weather__github-link:hover {
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.123), rgba(255, 255, 255, 0));
        }

        .form-weather__search-GPS:disabled,
        .form-weather__search-country-button:disabled,
        .form-weather__search-refresh:disabled,
        .form-weather__search-random:disabled,
        .form-weather__search-city-button:disabled,
        .form-weather__github-link:disabled {
            opacity: 0.4;
            pointer-events: none;
            user-select: none;
        }

        /* firefox fallback for glass blurr */
        @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            .weather-card-container {
                background: linear-gradient(135deg, rgba(255, 255, 255, 0.20), rgba(31, 31, 31, 0.726));
            }

            .form-weather__search-country-button,
            .form-weather__search-city-button {
                background: linear-gradient(135deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.021));
            }
        }


/*=============================================
-->                 EXTRA                  <--
=============================================*/


/*
-->      Override - Utility Classes       <--
=============================================
*/

.hidden {
    visibility: hidden;
}

.hidden-children * {
    visibility: hidden;
}

.hidden-opa {
    visibility: hidden;
    opacity: 0;
}

.position-absolute {
    position: absolute;
}

.display-none {
    display: none;
}

.pointer-events-none {
    pointer-events: none;
}

/*
-->            Animation Classes          <--
=============================================
*/


.fade-in {
    animation: opacity-in 1s ease 0s 1 normal both, forwards;
}

.fade-in-x2 {
    animation: opacity-in 0.5s ease 0s 1 normal both, forwards;
}
.half-fade-in-x2 {
    animation: half-opacity-in 0.5s ease 0s 1 normal both, forwards;
}

.fade-out {
    animation: opacity-out 1s ease 0s 1 normal both, forwards;
}
.fade-out-x2 {
    animation: opacity-out 0.5s ease 0s 1 normal both, forwards;
}
.fade-out-x3 {
    animation: opacity-out 0.25s ease 0s 1 normal both, forwards;
}
.fade-in-out {
    animation: opacity-in-out 2.5s ease 0s 1 normal both, forwards;
}
.fade-out-in {
    animation: opacity-out-in 1s ease 0s 1 normal both, forwards;
}

.fade-in-out-0-5s-delay {
    animation: opacity-in-out 2s ease 0.5s 1 normal both, forwards;
}


@keyframes opacity-in-out {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes opacity-out-in {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes opacity-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes half-opacity-in {
    0% {opacity: 0;}
    100% {opacity: 0.44;}
}
@keyframes opacity-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


.blur-in {
    animation: blur-in 0.5s ease 0s 1 normal both, forwards;
}

.blur-out {
    animation: blur-out 0.5s ease 0s 1 normal both, forwards;
}

@keyframes blur-in {
    0% {filter: blur(0px);}
    100% {filter: blur(12px);}
}

@keyframes blur-out {
    0% {filter: blur(12px);}
    100% {filter: blur(0px);}
}

