/*  --------------------------------------------------
                MUCHISX'S CSS RESET
--------------------------------------------------- */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 6.25%;
    /* height: 100vh; */
    /* height: fill-available;
    height: -webkit-fill-available;
    min-height: fill-available;
    min-height: -webkit-fill-available; */
}

body {
    font-size: 16rem;;
    font-family: "Inter";
}

/*  --------------------------------------------------
                MAIN CSS BELOW
--------------------------------------------------- */



/*=============================================
-->                  ROOT                  <--
=============================================*/

:root {

    --primary-color: rgb(236, 236, 236);
    --secondary-color: rgb(32, 32, 32);
    --tertiary-color: rgb(190, 190, 190);

    --glass-border: 1px solid rgba(255, 255, 255, 0.12);
    --glass-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.36);

    --app-height: 100%;
}


html, 
body {
    height: 100vh;
    height: var(--app-height);
}

/*=============================================
-->                  MAIN                  <--
=============================================*/

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;


    position: relative;
    min-width: 320px;
    min-height: 100%;
}

.main-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.95;
    background-image: url('../assets/img/bg-1.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

    /*
    -->              Weather CARDS            <--
    =============================================
    */

    .weather-cards-container {
        display: flex;
        position: relative;
    }

        .weather-card-container {
            position: relative;
            overflow: hidden;
            border-radius: 16px;
            margin-bottom: 12px;

                        /* Glass Effect */
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            border-radius: 16px;
            border-top: var(--glass-border);
            border-left: var(--glass-border);
            box-shadow: var(--glass-box-shadow);
        }

            .weather-card__intro {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 12px;

                position: absolute;
                z-index: 1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                pointer-events: none;
                user-select: none;
            }

                .weather-card__intro-visual {
                    width: clamp(64px, 20vw, 100px);
                    height: clamp(64px, 20vw, 100px);
                    opacity: 0;
                }

                .weather-card__intro-title {
                    /* position: absolute; */
                    font-size: clamp(20rem, 6vw, 32rem);
                    font-weight: 700;
                    color: var(--primary-color);
                    opacity: 0;
                }
                

            .weather-card {
                display: flex;
                flex-direction: column;
                /* justify-content: space-between; */
                align-items: center;

                padding: 16px;
                min-width: 256px;
                min-height: 320px;
                width: 80vw;
                height: calc(80vw / 4 * 5);
                max-width: 400px;
                max-height: 500px;
                overflow: hidden;
            }

                .weather-card__header {
                    display: grid;
                    justify-items: center;
                }

                    .weather-card__header-visual {
                        width: clamp(64px, 20vw, 100px);
                        height: clamp(64px, 20vw, 100px);
                        margin-bottom: 8px;
                    }

                    .weather-card__header-h2 {
                        font-size: clamp(16rem, 5vw, 24rem);
                        font-weight: 200;
                        text-align: center;
                        color: var(--primary-color);
                    }


                .weather-card__body {
                    display: grid;
                    justify-items: center;
                    margin: auto 0;
                    /* margin-bottom: 16px; */
                }

                    .weather-card__body-degrees {
                        position: relative;
                        width: fit-content;
                        text-align: center;
                        font-weight: 300;
                        font-size: clamp(80rem, 24vw, 120rem);
                        color: var(--primary-color);
                        margin-bottom: 8px;
                    }

                        .weather-card__body-degrees sup {
                            position: absolute;
                            top: 0.2em;
                            left: -0.4em;
                            font-weight: 100;
                            font-size: 0.4em;
                        }

                    .weather-card__body-h2 {
                        height: fit-content;
                        text-align: center;
                        margin-bottom: 4px;  
                        font-size: clamp(16rem, 5vw, 24rem);
                        font-weight: 400;
                        color: var(--primary-color);
                    }

                    .weather-card__body-h3 {
                        font-size: clamp(12rem, 3vw, 14rem);
                        text-align: center;
                        font-weight: 200;
                        color: var(--tertiary-color);
                    }

                .weather-card__footer {
                    margin-top: auto;
                    display: grid;
                    justify-content: center;
                }

                    .weather-card__footer-info {
                        font-weight: 200;
                        font-size: clamp(12rem, 3vw, 14rem);
                        color: var(--tertiary-color);
                    }

                        .weather-card__footer a {
                            position: relative;
                            text-decoration: none;
                            font-weight: 400;

                            /* Gradient Effect */
                            background: linear-gradient(135deg, #bae0ff 30%, #ffd000 80%);
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            border-width: 0 0 1px 0;
                            border-style: solid;
                            border-image: linear-gradient(135deg, #bae0ff8a 30%, #ffd00071 80%) 1;
                        }

    
    /*
    -->              Form Weather             <--
    =============================================
    */

    .form-weather {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

        .form-weather__select-country,
        .form-weather__select-city,
        .form-weather__search-button {
            position: relative;
            padding: 8px 32px;
            width: 200px;
            border: none;
            font-family: "Inter";
            text-overflow: ellipsis;
            font-size: 14rem;
            text-align: center;
            color: var(--tertiary-color);
            cursor: pointer;
            appearance: none;


            /* Glass Effect */
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            border-radius: 16px;
            border-top: var(--glass-border);
            border-left: var(--glass-border);
            box-shadow: var(--glass-box-shadow);
        }
        
        .form-weather__search-button {
            font-weight: 300;
            color: var(--primary-color);
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.137), rgba(255, 255, 255, 0.021));
        }

        .form-weather__select-country:hover,
        .form-weather__select-city:hover,
        .form-weather__search-button:hover {
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.123), rgba(255, 255, 255, 0));
        }
        
        .select-wrapper {
            position: relative;
        }
    
        .select-wrapper::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            background-image: url('../assets/svg/chevron-down-outline.svg');
            background-repeat: no-repeat;
            background-size: 10%;
            background-position-x: 95%;
            background-position-y: 50%;
        }

        .form-weather__select-country option,
        .form-weather__select-city option {
            color: var(--secondary-color);
        }

        .form-weather__select-city:disabled,
        .form-weather__search-button:disabled {
            opacity: 0.2;
            pointer-events: none;
            user-select: none;
        }



        /* firefox fallback for glass blurr */
        @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            .weather-card,
            .form-weather__select-country,
            .form-weather__select-city {
                background: linear-gradient(135deg, rgba(255, 255, 255, 0.20), rgba(31, 31, 31, 0.726));
            }

            .form-weather__search-button {
                background: linear-gradient(135deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0.021));
            }
        }


/*=============================================
-->                 EXTRA                  <--
=============================================*/


/*
-->            Utility Classes          <--
=============================================
*/

.hidden {
    visibility: hidden;
}

.hidden-children * {
    visibility: hidden;
}

.position-absolute {
    position: absolute;
}

/*
-->            Animation Classes          <--
=============================================
*/

.fade-in {
    animation: opacity-in 1s ease 0s 1 normal both, forwards;
}
.fade-in-out {
    animation: opacity-in-out 2.5s ease 0s 1 normal both, forwards;
}

.fade-in-out-0-5s-delay {
    animation: opacity-in-out 2s ease 0.5s 1 normal both, forwards;
}



@keyframes opacity-in-out {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes opacity-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}